### IntelliJ IDEA ###
.idea/
*.iml
out/

### Maven ###
target/

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS ###
.DS_Store

### Arquivos locais / segredos ###
.env